.main-area{
    padding: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.letter-box {
    width: 50px;
    height: 50px;
    border-radius: 9px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px #88888847;
}

.letter-box .letter {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
}

.letter-box input {
    width: 100px;
}

.word-row {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.letter-box.green {
    background-color: #C9E4DE;
}

.letter-box.orange {
    background-color: #F7D9C4;
}

.letter-box.blue {
    background-color: #C6DEF1;
}


.footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 15px;
}

.notifications {
    font-size: 15px;
    margin-top: 50px;
}